body {
    position: relative;
    margin: 1%;
    width: 98%;
}
.corner {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: -1;
}
.nw {
    background: red;
    left: 0;
    top: 0;
}
.ne {
    background: green;
    right: 0;
    top: 0;
}
.sw {
    background: blue;
    left: 0;
    bottom: 0;
}
.se {
    background: black;
    right: 0;
    bottom: 0;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}

.legend:hover {
    font-size: 120%;
    cursor: hand;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.moving_line line {
    stroke: green;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
.moving_line path {
stroke-width: 0;
}